/*Базовые стили----------------------------------------*/
body {
  margin: 0;
  padding: 0;
  min-width: 1440px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 18px;
  padding-bottom: 17px;

  font: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #fb565a;
  border-radius: 3px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Шапка сайта--------------------------------------------------*/

.main-header {
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
  margin-top: 49px;
}

.main-header-logo img {
  width: 160px;
  height: 65px;
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.main-navigation {
  padding: 45px 0 15px 0;
  display: flex;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  margin-top: 66px;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
}

.site-navigation-item-current a::after {
  content: "";
  display: block;
  width: 95%;
  margin: 0 auto;
  border-bottom: 2px solid #fb565a;
}

.user-navigation {
  display: flex;
  margin-left: auto;
}

.user-navigation .basket a {
  position: relative;
  padding-left: 50px;
}

.user-navigation-item-current a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 79%;
  border-bottom: 2px solid #fb565a;
}

.basket a::before {
  content: "";
  position: absolute;

  width: 16px;
  height: 16px;
  left: 10px;
  top: 17px;

  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 10px 20px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
  color: #000000;
}

/*INDEX.HTML------------------------------------------------------------------*/
/*Слайдер-------------------------------------------------*/

.slider {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  justify-content: space-between;
}

@keyframes slide {
  0% {transform: translateX(2000px);}
  100% {transform: translateX(0);}
}


.slider-item-current {
  animation: slide 1s;
  display: flex;
  overflow: hidden;
}

.slider-item h2 {
  margin: 0;
  margin-top: 65px;
  margin-bottom: 25px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-description {
  width: 361px;
  margin-bottom: 35px;

  color: #283136;
}

.button-slide {
  padding-right: 55px;
  padding-left: 55px;
}

.button-slide:hover,
.button-slide:focus {
  background-color: #e74246;
}

.button-slide:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.slider-radio {
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.slider-radio-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-radio-button {
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  margin-right: 17px;

  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-radion-button:last-child {
  margin-right: 0;
}

.slide-radio-button-current:before {
  content: "";

  display: block;
  width: 4px;
  height: 4px;
  margin: 5px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/*Услуги-----------------------------------------*/

.services-list {
  margin: 0;
  padding: 0;

  display: flex;
  margin-bottom: 80px;

  list-style: none;
}

.services-item {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-right: 100px;
}

.services-item h3 {
  margin: 0;

  margin-top: 20px;
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item img {
  width: 300px;
  height: 146px;

  order: -1;
}

.services-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  width: 260px;
}

.button-web-sites,
.button-app,
.button-presentation {
  padding-left: 39px;
  padding-right: 39px;
}

.button-web-sites:hover,
.button-web-sites:focus {
  background-color: #e74246;
}

.button-web-sites:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

.button-app {
  background-color: #00ca74;
}

.button-app:hover,
.button-app:focus {
  background-color: #00bc6c;
}

.button-app:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  box-shadow: inset 0 3px #009958;
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: inset 0 3px #ce961f;
}

/*О нас----------------------------------------------------------*/

.index-columns {
  border-top: 2px solid #eeeeee;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.about-us {
  width: 680px;
  margin-right: 140px;
}

.about-us b {
  display: block;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us-description {
  margin: 0;
  margin-bottom: 40px;
  columns: #283136;
}

.about-us-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-list h3 {
  margin: 0;
  margin-bottom: 25px;

  text-transform: uppercase;

  font-size: 16px;
  font-weight: 700;
}
.about-us-item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 37px;
  color: #283136;
}

.about-us-item:last-child {
  margin-bottom: 0;
}

.about-us-item::before {
  content: "";

  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;

  border-bottom: 2px solid #fb565a;

  transform: translate(0, -50%);
}

/*Статистика--------------------------------*/

.statistics {
  width: 360px;
}

.statistics img {
  width: 360px;
  height: 208px;
  margin-bottom: 35px;
}

.statistics-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.statistics-title {
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.statistics-item {
  margin-right: 20px;
}

.statistics-item:last-child {
  margin-right: 0;
}

.statistics-item-indicator {
  margin: 0;
  margin-bottom: 20px;
}

.statistics-item-value sup {
  vertical-align: middle;
}

.statistics-item-value {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
}

.statistics-item-value sup {
  top: -10px;
  font-size: 30px;
}

.statistics-item-description {
  line-height: 18px;
  color: #283136;
}

.partners {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-top: 45px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.partners-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style: none;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover,
.partners-item img:focus {
  opacity: 1;
}

.partners-item img:active {
  opacity: 0.1;
}

/*CATALOG.HTML------------------------------------------------------------*/
/*шапка---------------------------------------------------*/

.inner-page .main-header {
  padding-bottom: 116px;
}

.inner-page .main-navigation {
  margin-bottom: 80px;
}

.inner-page .main-page {
  margin-bottom: 60px;
}

.main-title {
  margin: 0;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
/*Фильтр--------------------------------------------------------*/

.filters {
  width: 260px;
  margin-right: 140px;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters-form legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.05px;
}

.range-filter {
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  margin-left: 0;
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters-form .price-fieldset {
  margin-bottom: 50px;
}

.filters-form .net-fieldset {
  margin-bottom: 40px;
}

.net-fieldset ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.net-fieldset legend {
  margin-bottom: 20px;
}

.net {
  margin-bottom: 15px;
}

.net:last-child {
  margin-bottom: 0;
}

.net input[type="radio"] {
  display: none;
}

.net label {
  position: relative;
  padding-left: 36px;

  color: #283136;
  line-height: 20px;
  cursor: pointer;
}

.net input[type="radio"] + label::before {
  content: "";

  display: block;
  position: absolute;
  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") 0 0 no-repeat;
  opacity: 0.5;
}

.net input[type="radio"]:checked + label::before {
  background: url("../img/radio-on.svg") 0 0 no-repeat;
}

.net label:hover,
.net label:focus,
.features-item label:hover,
.features-item label:focus {
  color: #000000;
}

.net input[type="radio"] + label:hover::before {
  opacity: 1;
}

.net input:disabled + label,
.features-item input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.net input[type="radio"]:disabled + label::before {
  opacity: 0.1;
}

.filters-form .features-fieldset {
  margin-bottom: 60px;
}

.features-fieldset legend {
  margin-bottom: 20px;
}

.features-fieldset ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  margin-bottom: 15px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.features-item input[type="checkbox"] {
  display: none;
}

.features-item label {
  position: relative;
  padding-left: 36px;

  color: #283136;
  line-height: 20px;
  cursor: pointer;
}

.features-item input[type="checkbox"] + label::before {
  content: "";

  display: block;
  position: absolute;
  width: 27px;
  height: 23px;

  background: url("../img/checkbox-off.svg") 0 0 no-repeat;
  opacity: 0.5;
}

.features-item input[type="checkbox"]:checked + label::before {
  background: url("../img/checkbox-on.svg") 0 0 no-repeat;
}

.features-item input[type="checkbox"] + label:hover::before {
  opacity: 1;
}

.features-item input[type="checkbox"]:disabled + label::before {
  opacity: 0.1;
}

.button-filters-form {
  width: 100%;
  color: #000000;
  border: 0;
  background-color: #eeeeee;
}

.button-filters-form:hover,
.button-filters-form:focus {
  background-color: #dfdfdf;
}
.button-filters-form:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

/*Сортировка---------------------------------------*/
.sort {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.sort-list-title {
  margin: 0;
  padding: 0;
  margin-right: auto;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.sort-item {
  margin-right: 20px;
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-item a:hover,
.sort-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active,
.sort-item-current a {
  color: rgba(0, 0, 0, 1);
}

.sort-direction {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.sort-direction-item {
  margin-left: 20px;
}

.sort-direction-item a {
  display: flex;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.sort-direction-item a::before {
  content: "";
  width: 11px;
  height: 11px;
  background: url("../img/icon-up-dir.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.sort-direction-item-current a::before {
  opacity: 1;
}


.sort-direction-item a:hover::before,
.sort-direction-item a:focus::before {
  opacity: 0.6;
}

.sort-direction-item a:active::before {
  opacity: 1;
}


.sort-direction-item.down a::before {
  transform: rotate(180deg);
}
.sort-direction-item a:hover,
.sort-direction-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-direction-item a:active,
.sort-direction-item-current a {
  color: rgba(0, 0, 0, 1);
}

/*Каталог шаблонов-----------------------------------*/

.templates-block {
  display: flex;
}


.templates {
  width: 760px;
}


.templates-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin-bottom: 30px;

}

.templates-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.templates-item img {
  width: 360px;
  height: 576px;
}

.templates-item:nth-child(2n) {
  margin-right: 0;
}

.templates-item:hover .template-browser {
  background-color: #4d4d4d;
}
.templates-item:hover .template-block {
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  border: 1px solid rgba(77, 77, 77, 0.1);
}

.template-browser {
  position: relative;

  background-color: rgba(0, 1, 1, 0.1);
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.template-browser::before {
  content: "";
  
  position: absolute;
  width: 60px;
  top: 14px;
  left: 20px;
  border-bottom: 14px dotted white;

}

.template-block {
  width: 360px;
  height: 576px;
  border: 1px solid rgba(0, 1, 1, 0.1);
  box-sizing: border-box;
}

.template-info {
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;


 /*clip-path: inset(100%);
  clip: rect(0 0 0 0);*/
  overflow: hidden;

}

.templates-item:hover .template-info {
  width: 100%;
  min-height: 231px;
  margin: 0;


  overflow: visible;

}

.template-title {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.template-description {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 25px;

  color: #666666;
  line-height: 18px;
  text-align: center;
}


.button-price {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 43px;
}

.button-price:hover,
.button-price:focus {
  background-color: #e74246;
}

.button-price:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/*Пагинация*/

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  
  display: block;
  padding: 14px 18px;
  margin-right: 10px;
 
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  background-color: transparent;
  border: 3px solid #dbdbdb;
  padding: 11px 15px;
}

.pagination-item-next a {
  padding-left: 78px;
  padding-right: 78px;
}

/*Подвал сайта------------------------------------*/

.map {
  position: relative;
  min-height: 416px;
}

.map .container {
  min-height: 416px;
  display: flex;
  align-items: center;
}

.footer-map {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);

  margin: 0 auto;
  width: 1440px;
  height: 416px;
  overflow: hidden;
}

.footer-map img {
  position: relative;
  bottom: 150px;
}

.map iframe {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  margin: 0 auto;
  width: 1440px;
  height: 416px;
  overflow: hidden;


  border: none;
}
.adress {
  width: 220px;
  min-height: 208px;
  padding: 50px;
  z-index: 3;

  background-color: #ffffff;
}

.adress h3 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.adress-description {
  margin-bottom: 37px;

  color: #666666;
  line-height: 18px;
}

.button-write-to-us {
  display: block;
  width: 100%;
}

.button-write-to-us:hover,
.button-write-to-us:focus {
  background-color: #e74246;
}

.button-write-to-us:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.friendship .container {
  min-height: 217px;

  display: flex;
  align-items: center;
}

.footer-social {
  margin-right: 140px;
}

.social-button-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button-item {
  margin-right: 10px;
}

.social-button-item:last-child {
  margin-right: 0;
}

.social-button-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button-item a::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
}

.social-button-item:nth-child(1) a::before {
  background-image: url("../img/vk-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-item:nth-child(2) a::before {
  background-image: url("../img/fb-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-item:nth-child(3) a::before {
  background-image: url("../img/insta-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-button-item a:hover,
.social-button-item a:focus {
  background-color: #e74246;
}

.social-button-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
.social-button-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-button-item a:active::before {
  opacity: 0.3;
}

.social-button-item a {
  color: #ffffff;
}

.friendship-call {
  margin: 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.friendship-description {
  color: #444444;
  line-height: 22px;
}

/*Напишите нам------------------------------------------*/

.write-to-us {

  display: none;

  position: fixed;
  bottom: 180px;
  left: 50%;

  width: 760px;
  margin-left: -480px;
  padding: 85px 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.7);
}

.name-and-mail-group {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.name-group,
.mail-group {
  display: flex;
  flex-direction: column;
}

.name-group input[type="text"],
.mail-group input[type="email"] {
  width: 328px;
  padding: 16px;
}

.text-letter-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 47px;
}

.text-letter-group textarea {
  resize: none;
  padding: 15px;
}

.write-to-us h2 {
  margin: 0;
  margin-bottom: 40px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.write-to-us-form label {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 18px;
}
.write-to-us-form input[type="text"],
.write-to-us-form input[type="email"],
.write-to-us-form textarea {
  border: 2px solid #d7dcde;
  font: inherit;
  line-height: 18px;
}

.write-to-us-form input[type="text"]:hover,
.write-to-us-form input[type="email"]:hover,
.write-to-us-form textarea:hover {
  border-color: #b4b9bb;
}

.write-to-us-form input[type="text"]:focus,
.write-to-us-form input[type="email"]:focus,
.write-to-us-form textarea:focus {
  color: #444444;
  border-color: #000000;
}

.write-to-us-form input[type="text"]:focus::-webkit-input-placeholder,
.write-to-us-form input[type="email"]:focus::-webkit-input-placeholder,
.write-to-us-form textarea:focus::-webkit-input-placeholder {
  color: #444444;
}

.write-to-us-form input[type="text"]:focus::-moz-placeholder,
.write-to-us-form input[type="email"]:focus::-moz-placeholder,
.write-to-us-form textarea:focus::-moz-placeholder {
  color: #444444;
}

.write-to-us-form input[type="text"]:invalid,
.write-to-us-form input[type="email"]:invalid,
.write-to-us-form textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

.write-to-us-button {

  width: 260px;

  border: 0;
}

.write-to-us-button:hover,
.write-to-us-button:focus {
  background-color: #e74246;
}

.write-to-us-button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.close-button {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  border: 0;
  background: url(../img/close-cross.svg) no-repeat 0 0;
  opacity: 0.3;
  text-transform: uppercase;
  font-size: 0;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.modal-error {
  animation: shake 0.6s;
}